.title {
    margin-top: 40%;        
    margin-bottom: 0.5em;
    display: block;
    background: #ca3e47;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    padding: 1em;
    text-transform: uppercase;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    color: #fff;
}

input{
      margin-left: 2px;
      }
      
    
